#clock {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: #333;
  }
  
  .time {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .date {
    font-size: 18px;
  }
  